
.root{
    -fx-background-image: url("img/start_screen.jpg");
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

.controls {
    -fx-background-image: url("img/metal.jpg");
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

.battlefield Line {
    -fx-stroke: BLACK;
    -fx-stroke-width: 2;
}
